<section class="container">
   <div class="oe_row oe_spaced" >
        <h2 class="oe_slogan" >Cancel & Reset to Draft Sales Order In Odoo</h2>
        
       
         <h2 class="oe_slogan" >OVERVIEW</h2>
	        <p class="oe_mt32"  align="center" style="color: rgb(122, 115, 115);font-size: 17px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
			This module allows you to cancel processed Sales orders by single click.
			</p>    
    </div>
</section>

<section class="container">
    <div class="oe_row oe_spaced" style="width:45%;">
           <a style="color:white;font-size:28px;font-family: &quot;Lato&quot;, &quot;Open Sans&quot;, &quot;Helvetica&quot;, Sans;font-weight: bold;word-spacing: 2px;" href="https://www.emiprotechnologies.com/free-trial?app=cancel-sale-order-ept&version=12&edition=enterprise 
" target="_blank"> <div class="contct_us_btn" style="padding:23px;margin: 0 auto;display: block;background-color: #8F3F79;text-align: center;font-weight: bold;box-shadow: 2px 1px 12px 3px #ece6e6;">
            	Request a Free Demo<div></div>
            </div></a>
    </div>
</section>

<section class="container-fluid">
    <div class="oe_row oe_spaced">
      <h2 class="oe_slogan" style="font-weight:;font-size:33px;">Quick View</h2>
     
		
		  
	<ul style="list-style-type:square">
			<li>Cancel Delivery Orders attached with Sales Order, even if those are processed.</li> <br>
			<li>While cancel delivery order, it will affect stock & remove journal entries (If any) created for stock valuation.</li><br>
			<li>Cancel Invoices which are created from the sales order.</li><br>
			<li>If payment is made for an invoice, it will unreconciled a payment from the invoice & cancel it.</li> <br>
		  </ul>	  
	
		  
	</div>
    
</section>



<section class="container">
    <div class="oe_row oe_spaced mt4" >
        <h2 class="oe_slogan" >Cancel the done sale order on one click</h2>
        	<div class="oe_mt32" >
	            <img class="img img-responsive" src="1.png" />
	        </div>
	      
    </div>
</section>

<section class="container">
    <div class="oe_row oe_spaced mt4" >
        <h2 class="oe_slogan" >Cancel the respective pickings</h2>
        	<div class="oe_mt32" >
	            <img class="img img-responsive" src="2.png" />
	        </div>
	      
    </div>
</section>

<section class="container">
    <div class="oe_row oe_spaced mt4" >
        <h2 class="oe_slogan" >Cancel the related invoices</h2>
        	<div class="oe_mt32" >
	            <img class="img img-responsive" src="3.png" />
	        </div>
	      
    </div>
</section>

<div class="oe_row oe_spaced">      	
        	<h2 class="oe_slogan">You may also like</h2>
        	<div style="max-width:1000px;width: auto;margin: 0 auto;display:block">
				
				<div class="col-xs-4 mt16">
					 <a href="https://apps.odoo.com/apps/modules/12.0/all_in_one_barcode_scanning_ept/" target="_blank"><img class="img img-responsive" src="All-In-One-scanning.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:left;"></a>
				</div>
				<div class="col-xs-4 mt16">
					 <a href="https://apps.odoo.com/apps/modules/12.0/all_in_one_cancel_reset_ept/" target="_blank"><img class="img img-responsive" src="All-In-One-Cancle-Cover.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:right;"></a>
				</div>
				<div class="col-xs-4 mt16">
					 <a href="https://apps.odoo.com/apps/modules/11.0/all_in_one_inventory_report_ept/" target="_blank"><img class="img img-responsive" src="All-In-One-Cover.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:left;"></a>
				</div>
				<div class="col-xs-4 mt16">
					 <a href="https://apps.odoo.com/apps/modules/12.0/all_in_one_imports_xls_ept/" target="_blank"><img class="img img-responsive" src="All-in-one-import-cover.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:right;"></a>
				</div>
				<div class="col-xs-4 mt16">
					 <a href="https://apps.odoo.com/apps/modules/12.0/report_sale_profitability_ept/" target="_blank"><img class="img img-responsive" src="Product-Profitability-Report-Cover.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:left;"></a>
				</div> 
				<div class="col-xs-4 mt16">
					 <a href="https://apps.odoo.com/apps/modules/12.0/customer_review_global_channel_ept/" target="_blank"><img class="img img-responsive" src="Feedback-email-to-customers-for-Product-Review-COVER-iCON.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:right;"></a>
				</div>
				<div class="col-xs-4 mt16">
					 <a href="https://apps.odoo.com/apps/modules/12.0/suggested_recipients_ept/" target="_blank"><img class="img img-responsive" src="Improvised-Email-Sending-Options-Cover.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:left;"></a>
				</div>
				<div class="col-xs-4 mt16">
					 <a href="https://apps.odoo.com/apps/modules/12.0/sale_order_confirm_transfer/" target="_blank"><img class="img img-responsive" src="Automated-Sales-Order-Processing-Cover.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:left;"></a>
				</div>
				<div class="col-xs-4 mt16">
					 <a href="https://apps.odoo.com/apps/modules/12.0/sale_order_stock_check/" target="_blank"><img class="img img-responsive" src="main_screen.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:left;"></a>
				</div> 
				
		</div> 
							
</div>





<section class="container">
	<div class="oe_row oe_spaced" style="width: 100%; margin-top: 30px;">
		<div class="contct_us_btn"
			style="padding: 7px; margin: 0 auto; display: block; width: 20%; background-color: #087dda; text-align: center;">
			<a style="color: white; font-size: 20px;"
				href="http://www.emiprotechnologies.com/odoo-apps-support" target="_blank">Get Support</a>
		</div>
	</div>
</section>
