<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">A single platform for computing, filing,
        and reporting</h2>
        <p class="oe_slogan">
            Use this module to generate GST invoice
            seamlessly from Purchase Order
        </p>
        <p>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">GST shall be automatically computed basis
        product and customer location and applied on the displayed purchase order line</h2>
        <div class="oe_span12">
            <div class="oe_demo">
                <img src="purchase_form.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_centeralign">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Purchase Tax Report</h2>
        <p class="oe_mt32">
            User can print tax report for purchase order as per GST invoice
        </p>
        <div class="oe_span12">
            <div class="oe_screenshot oe_demo">
                <img src="purchas_report.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Contact / Support</h2>
        <div class="oe_span6">
            <div class="oe_picture" style="margin: 25px 10%;">
                <a href="http://www.laxicon.in/"> <img src="logo.png">
                </a>
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                If you need any help or want more additional features,<br /> you
                may contact us through:<br /> Email: <a
                    href="mailto:info@laxicon.in">info@laxicon.in</a> <br />
                Website: <a href="http://www.pseudocode.co/"><u>www.laxicon.in</u></a>
                <br />
            </p>
        </div>
    </div>
</section>