<section class="oe_container lead mt64">
	<div>
		<div class="col-md-12 mt16" style="padding:0;">
			<div class="col-md-12" style="padding:0;">
				<div class="panel-group mb0 mt0" role="tablist" id="priceAccordeon" style="padding:0;">
					<div class="panel-heading mb0 mt0 collapsed" role="tab" data-toggle="collapse" data-parent="#priceAccordeon" data-target="#priceAccordeon_area" aria-expanded="false" style="margin-left:0;padding:0 0 2px 0;text-align:right;">
						<strong>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;">
									Supported :
								</strong>
							</div>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool is compatible with the Odoo Enterprise version">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Enterprise
								</strong>
							</div>
							<div style="background-color:#875A7B;padding:5px;margin-top:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool is compatible with the Odoo Community version">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Community
								</strong>
							</div>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool might be installed to Odoo.sh if you have a linked private git repository">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Odoo.sh
								</strong>
							</div>
						</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead bi_title_box">
	<div >
		<div >
			<h2 class="oe_slogan bi_title" style="color:#5082c4;">
				<b>Customer/Vendor Statements and Overdue Payments Reports with auto send feature Odoo Apps.</b>
			</h2>
			<p class="oe_slogan">
				Customer/Supplier accounting statements and Customer Overdue Payments Odoo Apps offers you to view customers or vendor statements reports with overdue invoices and payment details and helps you to send statements of account reports by email to your customers and suppliers. Account Statement reports comes with the due range tables with 0-30 days, 30-60 days ,60-90 and 90+ days kind of range. This Odoo apps also helps to print overdue statement reports of customer. Accountant will have option to filter customer and supplier statements with start date and end date this filter statement comes with opening balance before the start date selected on filter for filter accounting statements. You can also print and send this filter statements too. Statements tab of customer and supplier both shows total due amount and total overdue amount balance , total due is show total remaining due amount of customer or supplier and total overdue amount shows the total which become overdue based on the payment term selected on invoices. After installing this Odoo modules/app you can print and send customer/supplier statement as well as print and send overdue payment reports by email.You can also send this overdue payment and statement automatically to your customer and vendors every month using the automatic send email feature.
			</p>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 25px;font-style: italic;font-weight:bolder;"> looking for customer account payment follow up Odoo App, please check below module link<br/>
                <strong><a class="text-center" style="color: #21B799" href="https://apps.odoo.com/apps/modules/12.0/customer_account_payment_followup/" target="_blank">Customer Account Payment follow up Odoo Apps.</a></strong>
            </p>

            <p class="oe_slogan" style="color: #49a3fe;font-size: 25px;font-style: italic;font-weight:bolder;"> Looking for only customer account statements Odoo Apps,please check below module link<br/>
                <strong><a class="text-center" style="color: #21B799" href="https://apps.odoo.com/apps/modules/12.0/account_statement/" target="_blank">Customer Account Statements Odoo Apps.</a></strong>
            </p>
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Multi Language Translation Available</p>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 25px;font-style: italic;font-weight:bolder;"> We have added Translation using google translate for English (US), Arabic, French / Français, Spanish / Español and Dutch / Nederlands, if you want to change translation terms or add new translation provide us translation, we will add that without any cost.
			</p>
		</div>
	</div>
	<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="Language" style="text-align:center">
               <img title="English" alt="English" style="margin:10px 10px" src="languages/English.png">
               <img title="Arabic" alt="Arabic" style="margin:10px 10px" src="languages/Arabic.png">
               <img title="French" alt="French" style="margin:10px 10px" src="languages/French.png">
               <img title="Spanish" alt="Spanish" style="margin:10px 10px" src="languages/Spanish.png">
               <img title="Dutch" alt="Dutch" style="margin:10px 10px" src="languages/Dutch.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container lead bi_features">
	<div >
		<div>
			<h3 class="oe_slogan" style="opacity:1;background: linear-gradient(to right, #86bcf2 0%, #e2f2f8 100%);padding: 10px 0px;color: ##201111;letter-spacing: 0.2em;text-transform: uppercase;text-shadow: 0.1em .04em 0.1em #7d8c88;"><b>Features</b></h3>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/state1.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Account Statements of customers and suppliers. </b></h4>
					  <span class="oe_slogan">Accounting User/Accountant can view and print account statements of customers and suppliers.  </span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/state2.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Sends statement through email. </b></h4>
						<span class="oe_slogan">Accounting User/Accountant can send Statements of customers and suppliers by email. </span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/state3.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Sends overdue payment report to customers. </b></h4>
					  <span class="oe_slogan">Accounting User/Accountant can send overdue payment report to customers.  </span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/state4.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Statement filter by Date</b></h4>
						<span class="oe_slogan"> When there are large records on statement modules provide that feature to filter statement by date.Also Allow to Print it.  </span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/state5.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Partner wise Ledger Report </b></h4>
					  <span class="oe_slogan">As this module also provide feature to print Partner Ledger Report for single partner.  </span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/state6.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Send automatically customer statement.</b></h4>
						<span class="oe_slogan">You can send customer statement and customer overdue statement to your customers on a specific date of month. You can also set customer statement period as monthly or complete statement.  </span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/state7.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Auto Send Customer Statement and Overdue Report </b></h4>
					  <span class="oe_slogan">User can use Opt Statement checkbox for automatic send customer statement and overdue report to the customers. This automatic statements and overdue report only send to those customer who has balance amount greater then zero.   </span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/state8.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Manually Send Customer Statement and Overdue Report </b></h4>
						<span class="oe_slogan">User can use customer custom statement wizard for manually send customer statment and overdue report with selection of duration. </span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/state9.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Auto Send Monthly Statement to Customers </b></h4>
					  <span class="oe_slogan">You can send monthly statement automatically to all customers who has statement value greater then 0.00. </span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/state10.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Auto Send Weekly Statement to Customers </b></h4>
						<span class="oe_slogan">You can send weekly statement automatically to all customers who has statement value greater then 0.00. </span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/state11.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Select 'Opt Statement' Checkbox for Particular Customer </b></h4>
					  <span class="oe_slogan">You can opt out customer for automatic statement sent using opt-statement field on customer. </span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/state12.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Mass Send Customer Statement with Custom Date Range </b></h4>
						<span class="oe_slogan">you can select multiple customer and send mass statements to customers in single click with custom date range option.</span>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

<section class="oe_container lead mt64">
	<div >
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8 mr8" title="Demo Request" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="mailto:sales@browseinfo.in?Subject=Demo Request for Customer/Vendor Statements and Overdue Payments Reports with auto send feature Odoo Apps" target="_top"> Demo Request </a>
			<a class="btn mt8 ml8" title="Video Tutorial" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://www.youtube.com/watch?v=NmmgHMBYNJs&feature=youtu.be" target="_blank"> Video Tutorial</a>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Customer Statement</p>
			<p class="oe_slogan">User can find "Customer Statement" and "Vendor Statement" tabs on customer/vendor form view.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="1_statement.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Print Customer Statement Report</p>
			<p class="oe_slogan">Accounting User/Accountant can also able print statements of customers and suppliers by "Print Statement Button".</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="3_print_cust_state_btn.png">
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">User can see printed customer statement report.</p>
			
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="4_customer_statement_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Send Customer Statement Report</p>
			<p class="oe_slogan">User can send customer statement report by mail.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="5_send_statement_btn.png">
			<p class="oe_slogan">User can see sent mail with attached statement report.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="6_sent_statemnt_mail.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Print Customer Overdue Payment</p>
			<p class="oe_slogan">User can print customer overdue payment report from button as shown figure.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="7_print_overdue_stat_btn.png">
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="8_overdue_statement_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Send Customer Overdue Payment</p>
			<p class="oe_slogan">User can send customer overdue payment report from button as shown figure.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="9_send_overdue_payment.png">
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="10_sent_customer_overdue.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Statement Filter By dates</p>
			<p class="oe_slogan">When there are many lines on statements then we provide extra feature to filter statement by date to see statement for certain selected period and easily print it for selected date range,This also print balance overdue and total amount overdue for selected date range. </p>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Customer Statement Report With Date Filter</p>
			<p class="oe_slogan">When you click on "Get statement" after applied the filter it will provide statement details for selected date range as shown in image.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="11_customer_sta_date_filter.png">

			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Customer Statement Report with date filter.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="12_cust_sta_date_filter.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Supplier Statement</p>
			<p class="oe_slogan" >Accounting User/Accountant can also able print Statements of customers and suppliers by "Print Statement Button".</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="13_print_supplier_sta_btn.png">
			<p class="oe_slogan">User can see printed supplier statement report.</p>
			
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="14_supplier_statement_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Vendor Statement Report With date filter</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="15_supplier_sta_date_filter.png">
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Vendor Statement Report can be seen with date filter.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="16_supplier_date_filter_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Auto Send Statement Mail</p>
			<p class="oe_slogan">When you tick "Send Customer Statement" in invoice setting you can set date for when customer statement will be send to all customer and you can set period also like if monthly period is set than system will automatically send statement of last month and if All option is select than system will send customer statement till date. When you tick "Send Overdue Customer Statement" in invoice setting you can set date for when customer overdue statement will be send to all customer.</p>
			<p class="oe_slogan">Auto statement and overdue statement send statement and overdue statement to all customer automatically to those customer who has statement amount grater then zero for statement and overdue balance grater then zero for overdue payment report. Also you have option to "Opt Automatic Statement Overdue Payment" send automatically to selected customers. You can tick "Opt Statement" check box on customers and those customer won't receive auto statement and overdue payment report.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="config.png">
			<p class="oe_slogan">User can also print statement report from here.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="print_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Weekly Statement Report</p>
			<p class="oe_slogan">User can also print statement report from here.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="17_weekly_statement_email.png">
			<p class="oe_slogan">User can also print statement report from here.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="18_weekly_statement_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Monthly Statement Report</p>
			<p class="oe_slogan">User can also print statement report from here.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="19_monthly_statement_email.png">
			<p class="oe_slogan">User can also print statement report from here.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="20_monthly_statement_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Customer Overdue Statement</p>
			<p class="oe_slogan">User can also print statement report from here.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="21_customer_overdue_statement.png">
			<p class="oe_slogan">User can also print statement report from here.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="22_customer_overdue_statement.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Overdue Customer Filter</p>
			<p class="oe_slogan">There is a filter to find customer who have the "Total Overdue Amount" more than zero.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="Customers_filter.png">
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Send Overdue Payment Report</p>
			<p class="oe_slogan">There is a filter to find customer who have the "Total Overdue Amount" more than zero.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="send_overdue_payment.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Opt out Statement option to stop automatic statement and overdue payment send </p>
			<p class="oe_slogan">When you select 'Opt Statement' checkbox for particular customer that time customer statements and overdue report won't send automatically to the customer.</p>
			<p class="oe_slogan">When automatic statements and overdue statements don't have balance then statement won't send.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="27_overdue_statement.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Email Sent to the Customers</p>
			<p class="oe_slogan">You can see email has been sent with attachment to the customers.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="28_overdue_statement.png">
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="29_overdue_statement.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Customer Custom Statements Menu </p>
			<p class="oe_slogan">You can send customer statements manually to the customers with using customer custom statements menu.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="30_overdue_statement.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Customer Custom Statements Wizard </p>
			<p class="oe_slogan">Customers get notification while send customer statement manually with selection of duration.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="31_overdue_statement.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Customer Custom Statements Wizard </p>
			<p class="oe_slogan">You can select multiple customer and send mass statements to customers in single click with custom date range option</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="mass_send_customer_statement.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Send Cutomer Statement Email with Attachment </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="32_overdue_statement.png">
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="33_overdue_statement.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Sent Mail with Attached Statement Report </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="34_overdue_statement.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Customer Statement Report </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="35_overdue_statement.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Invoice Outstanding Report</p>
			<p class="oe_slogan">Figure shows the menu for invoice outstanding report.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="23_outstanding_report.png">
			<p class="oe_slogan">In this wizard you have to select journal for invoices, select start date and end date for Outstanding Report.You can print XLS report as well as PDF Outstanding report.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="24_outstanding_wizard.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Invoice Outstanding XLS Report</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="25_xls_report.png">
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Invoice Outstanding PDF Report</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="26_pdf_report.png">
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Apps May You Like</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_all_in_one_accounting_report/">
					<img class="img img-responsive" src="related/bi_all_in_one_accounting_report.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/account_statement/">
					<img class="img img-responsive" src="related/account_statement.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_account_asset/">
					<img class="img img-responsive" src="related/bi_account_asset.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_account_budget/">
					<img class="img img-responsive" src="related/bi_account_budget.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_account_cheque/">
					<img class="img img-responsive" src="related/bi_account_cheque.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_account_tax_report/">
					<img class="img img-responsive" src="related/bi_account_tax_report.png" style="width: 100%;"/>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Most Demanded Apps</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/pos_orders_all/">
					<img class="img img-responsive" src="demanded/all_in_one_pos.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_customer_overdue_statement/">
					<img class="img img-responsive" src="demanded/customer_overdue.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/generic_excel_reports/">
					<img class="img img-responsive" src="demanded/generic_excel_reports.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/sales_commission_generic/">
					<img class="img img-responsive" src="demanded/sale_commision.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_generic_import/">
					<img class="img img-responsive" src="demanded/bi_generic_import.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/branch/">
					<img class="img img-responsive" src="demanded/branch.png" style="width: 100%;"/>
				</a>
			</div>
		</div>	
	</div>
</section>

<section class="oe_container">
	<div >
		<div >
			<h2 class="oe_slogan">Free Support</h2>
			<h3 class="oe_slogan" style="font-size: 21px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
			<p class="oe_slogan" style="font-size: 18px; ">
		At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:ticket@browseinfo.in">ticket@browseinfo.in</a> or raise a ticket on support.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div >
		<div >
			<div class="img img-responsive text-center">
				<a href="http://www.browseinfo.in" target="new" style="display: grid;">
					<img src="bi_logo.png" style="margin: auto;max-width: 350px;">
				</a>
			</div>
		</div>
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8" title="Query and Demo" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="mailto:sales@browseinfo.in?Subject=Demo Request for Customer/Vendor Statements and Overdue Payments Reports with auto send feature Odoo Apps." target="_blank"> Query and Demo </a>
			<a class="btn mt8" title="Email on Support" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="mailto:ticket@browseinfo.in?Subject=Support Request for Customer/Vendor Statements and Overdue Payments Reports with auto send feature Odoo Apps." target="_blank"> Support Request </a>
		</div>
	</div>
</section>
