<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">A single platform for computing, filing,
        and reporting</h2>
        <p class="oe_slogan">
            Use this module to generate GST invoice
            seamlessly From Sale Order
        </p>
        <p>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Sale Order Form</h2>
        <h3 class="oe_slogan">The user can be able to use GST Tax process for Sale Order form
        given form</h3>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="sale_order_form.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_centeralign">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Tax Report On Sale Order</h2>
        <p class="oe_mt32">
            User can print report in GST format
        </p>
        <div class="oe_span12">
            <div class="oe_screenshot oe_demo">
                <img src="sale_order_report.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Contact / Support</h2>
        <div class="oe_span6">
            <div class="oe_picture" style="margin: 25px 10%;">
                <a href="http://www.laxicon.in/"> <img src="logo.png">
                </a>
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                If you need any help or want more additional features,<br /> you
                may contact us through:<br /> Email: <a
                    href="mailto:info@laxicon.in">info@laxicon.in</a> <br />
                Website: <a href="http://www.pseudocode.co/"><u>www.laxicon.in</u></a>
                <br />
            </p>
        </div>
    </div>
</section>